*{
margin: 0px;
padding: 0px;
font-family: "微软雅黑";
}
body{
	width:100%;
	height:100%;
	background-color: #F5F5F5;
	word-wrap: break-word;
}
html{
	position: relative;
}
a{
	color:white;
	text-decoration: none;
}
#hd{
	margin-top: 10px;
}
.hd_1{
	width:960px;
	margin:0px auto;
	position: relative;
}
.hd_app,.hd_search,.hd_login,.hd_ow,.hd_search,.hd_submit{
	display: inline-block;
}
#hd_search{
	float: right;
	position: relative;
}
#hd_search .liebiao{
	background-color: white;
	position: absolute;
	right:1.1px;
	top:13px;
	z-index: 20;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	
}
#hd_search .liebiao li{
	list-style: none;
	font-size: 12px;
}
#hd_search .liebiao a{
	display: inline-block;
	color:#7B7B7B;
	text-decoration: none;
	padding: 8px 0px;
	width:120px;
	text-align: center;
}

#hd_search .liebiao .l1{
	height:25px;
	line-height: 25px;
	border-bottom:1px solid #e6e6e6;
	background-color: #F8F8F8;
	display: inline-block;
	color:#7B7B7B;
	padding: 8px 0px;
	width:120px;
	text-align: center;
	cursor: pointer;
}
#hd_search .liebiao a:hover{
	color:#FF6347;
}
nav{
	display: inline-block;
}
.hd_ow .hd_ow_f{
	display: inline-block;
}
.hd_app{
	border: 1px solid #FF6347;
	border-radius: 3px;
	width:81px;
	height:19px;
	position: relative;
	bottom: 43px;
	left:21px;
	
}

.app_ma{
	display: none;
	position:absolute;
	top:65px;
	left:173px;
	width:170px;
	height:180px;
	border:1px solid #FF6347;
	background-color: white;
	padding:10px;
	text-align:center;
}
.app_ma img{
	margin-bottom: -6px;
}
.app_ma span{
	font-size: 14px;
	color:#FF6347;
}
.hd_app i{
	font-size: 20px;
	background-color:#FF6347;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	color:white;
	padding:0px 7px;
}	
.hd_app span{
	display: inline-block;
	font-size: 12px;
	position: relative;
	bottom: 3px;
	left:4px;
	color:#FF6347;
}

.hd_login{
	margin-top: 22px;
	margin-left:205px;
	margin-right: -2px;

}
.hd_login a{
	text-decoration: none;
	color:#7B7B7B;
	font-size: 12px;
}
.hd_login a:hover{
	color:#FF6347;
}
.p span{
	color:#d0d0d0;
	font-size: 12px;
}
.hd_ow{
	margin-right: -7px;

}
.hd_ow a{
	text-decoration: none;
	color:#7B7B7B;
	font-size: 12px;
}
.hd_ow .switch{
	position: relative;
	top:7px;
	left:-1px;
}
form{
	margin-top: 12px;
	border: 2px solid #FF6347;
	border-radius: 6px;
	background-color: white;

}
.hd_search{
	width:305px;
	height: 26px;
	border: none;
	margin-left: 5px;
	outline:0;
	position: relative;
	text-indent: 3px;
}
.hd_submit{
	border:none;
	background-color: white;
	cursor:pointer;
	margin-right: 8px;
}
.hd_submit i{
	color:#FF6347;
	font-size: 16px;
}
#menu{
	margin-top: 2px;
	width: 100%;
	height:48px;
	background-color: #FF6347;

	
}
#menu ul li{
	display: inline-block;
	list-style: none;
	font-size: 14px;
	float: left;
    padding: 0 16px;
    line-height: 48px;
}
#menu ul{
	width: 960px;
	margin:0px auto;
}
#menu .firstweb{
	
}
ul.menu li:hover{
	background-color:  #FF4500;
}
.firstweb{
	background-color: #FF4500;
}
#menu .list i{
	display: inline-block;
	color:white;
	float: right;
	font-weight: 100;
	font-size:18px;
	margin-top:13.5px;
	padding-bottom: 13.5px;
	
}
#menu .list a{
	display: inline-block;

}
.help{
	display: inline-block;
	width:200px;
	border: 1px solid #e6e6e6;
	position: absolute;
	right:0px;
	top:140px;
	background-color: white;
	padding: 20px 0px;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
	display: none;
}
.help a{
	color:#1E90FF;
	text-decoration: none;
}
.help a:hover{
	color:#930093;
	text-decoration: underline;
}
#main{
	width: 960px;
	margin:0 auto;

}
#main .tu1{
	margin-top:30px;
	border-radius: 5px;
}
#main .t1{
	display: inline-block;
}
#main .pic{
	width:960px;
	height: 160px;
	margin-top: -5px;
}
#main .pic img{
	border-radius: 5px;
}
#main .pic .tu2{
	margin-left: 7px;
}
#points{
	position: relative;
	width:94px;
	height:10px;
	bottom: 35px;
	left:430px;
	z-index: 500;
	text-align: center;
	padding-left: 6px;
	display: inline-block;
}
#points .one{
	display: inline-block;
	width:10px;
	height:10px;
	opacity:0.7;
	margin-right: 2px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
#main #main_content{
	width:960px;
	margin-top: 20px;

}
#main #left_content{
	width:698px;
	height:4450px;
	float:left;
	border: 1px solid #e6e6e6;
	background-color: white;
	border-radius:5px;
	margin-bottom: 180px;
}
#main #right_content{
	width:250px;
	float: right;
}
#main #right_content .fabiao{
	display: inline-block;
	width:250px;
	font-size:16px;
	color:white;
	text-decoration: none;
	background-color: #FF6633;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 2px;

}
#main #right_content .fabiao:hover{
	background-color: #FF4633;
}
#main #right_content i{
	color:	#FFCBB3;
	font-size: 18px;
}
#main #right_content .card{
	border-radius: 5px;
	border:1px solid #e6e6e6;
	background-color: white;
	color: white;
	position: relative;
	margin-top: 10px;
	
}
#main #right_content .card a:hover{
	background-color: #20D2AA;
}
#main #right_content .card_left{
	display: inline-block;
	position: absolute;
	top:34px;
	left:69px;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 2px;
}
#main #right_content .card_left i{
	font-size: 28px;
	position: absolute;
	top:-1px;
	left:-33px;
	color:#F0F0F0;

}
#main #right_content .card_right1{
	display: inline-block;
	position: absolute;
	font-size: 12px;
	top:29px;
	right:31px;
}

#main #right_content .card_right1 i{
	font-size: 15px;
	color:white;
	margin-right: 3px;
}
#main #right_content .card_right2{
	display: inline-block;
	font-size: 12px;
	position: absolute;
	top:52px;
	right:32px;
}
#main #right_content .card_right2 i{
	font-size:15px;
	color: white;
}
#main #right_content .card .daka1{
	display: inline-block;
	width:124px;
	background-color: #20B2AA;
	margin-left: 15px;
	margin-top:15px;
	margin-bottom: 11px;
	padding:32px 0px;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
#main #right_content .card .daka2{
	display: inline-block;
	width:96px;
	margin-top: 15px;
	background-color: #20C2AA;
	margin-bottom: 11px;
	padding:32px 0px;
	margin-left:-5px;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	font-weight: normal;;
}
#download{
	border-radius: 5px;
	border:1px solid #e6e6e6;
	background-color: white;
	margin-top:10px;
	padding: 15px 15px;
	width: 218px;
	height:108px;
	margin-bottom: 10px;
}
.newest{
	display: inline-block;
	color: black;
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	margin-bottom: 18px;
}
.newest:hover{
	color:#FF6347;
}
.update{
	color:#666666;
	font-size: 14px;
	line-height: 21px;
    margin-bottom: 7px
}

.update_1{
	display: inline-block;
	width:107px;
	height:35px;
	background-color:#2ba9fa;
	line-height: 35px;
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
	float: left
}
.update_1:hover{
	background-color:#2bc9fa;
}
.update_2{
	display: inline-block;
	width:107px;
	height:35px;
	background-color:#70c041;
	line-height: 35px;
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
	float: right
}
.update_2:hover{
	background-color:#70E041;
}
#section{
	width: 248px;
    margin-bottom: 10px;
    color: #444444;
    padding: 15px 0px 0px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: white;
    height:303px;
}
#section a{
	font-size: 14px;
	color:#666;
}
#section a:hover{
	color:#FF6347;
}
.tuijian{
	font-size: 16px;
    color: #444444;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    padding-left: 15px;
}

#section ul{
	border-top: 1px solid #ededed;
	list-style: none;
}
#section li{
	float: left;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
    height: 43px;
    line-height: 41px;
    text-align: center;
    width: 124px;
    margin: 0;
}
#section .lf{
	border-right: 1px solid #ededed;
    width: 123px;
}
#section .allblock{
	color: #666666;
    font-size: 14px;
    line-height: 41px;
    text-align: center;
    display: block;
}
#hot_act{
	width: 218px;
	background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 15px 15px 8px;
    margin-bottom: 10px
    color: #444444;
}
#hot_act h2{
	font-size: 16px;
    color: #444444;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}
#hot_act a p{
	font-size: 12px;
    color: inherit;
    line-height: 21px;
}
#hot_act a{
	display: block;
	margin-bottom: 15px;
    display: block;
    text-align: center;
    color: #666666;
}
#hot_act a:hover{
	color:#FF6347;
}
#hot_act a img{
	border-radius: 5px;
}
#hot_note{
	width: 218px;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-top:10px;
}
#hot_note h4{
	font-size: 16px;
	font-weight: bold;
    color: #444444;
    line-height: 24px;
    margin-bottom: 15px;   
}
#hot_note ul{
	list-style: none;
	margin-top:8px;
}
#hot_note li{
	height: 24px;
    line-height: 24px;
    margin-bottom: 5px;
}
#hot_note a{
	color: #909090;
    font-size: 12px;
}
#hot_note a:hover{
	color:#FF6347;
}
#about_us{
	width: 218px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: #444444;
    background-color: white;
	margin-bottom: 10px;
    padding: 15px 15px 19px;
    height:127px;
}
#about_us h2{
	color:#444444;
	line-height: 24px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 16px;
}
#about_us ul{
	list-style: none;
	margin: 0px auto 10px;
    width: 237px;
    
}
.about_ul li{
	float: left;
    padding: 4px 0;
    font-size: 12px;
    display: block;
}
.about_ul li a{
	color: #909090;
    display: block;
    float: left;
    margin: 0px 6px;
    text-align: center;
    width: 60px;
    text-align: center;
}
.about_ul li a:hover{
	color:#FF6347;
}
#about_us ul li span{
	color: #dadada;
}
#about_us .line_left{
	float: left;
	padding:4px 0px;
	font-size:12px;
}
#about_us .about_ul .line_left a{
	text-align: left;
}
.article{
	overflow: hidden;
	padding: 20px 35px;
}
.article h3{
	font-size: 22px;
    color: #393939;
    line-height: 40px;
    margin-bottom: 15px;
}
.article h3 a{
	color:#393939;
	font-weight: normal;
}
.article h3 a:hover{
	color:#FF6347;
}
.article .tu{
	border-radius: 5px;
}
.article .duan{
	margin-top: 15px;
	font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-bottom: 20px;
}
.article .writer img{
	border-radius: 50%;
}
.article .writer{
	display: block;
	color:#c5c5c5;
	line-height: 22px;
	font-size: 12px;
}
.writer .left{
	display: inline-block;
	width: 400px;
	float: left;
	line-height: 22px;
}
.writer .left a{
	display: inline-block;
}
.writer .left a:hover{
	color: #FF6347;
}
.writer .left span{
	padding: 0 6px 0 5px;
	color: #c5c5c5;
}

.writer .left img{
	line-height: 22px;
	float: left;
}
.writer p{
	display: inline-block;
}
.writer .right{
	color: #c5c5c5;
    float: right;
    width: 190px;
    height: 16px;
    line-height: 16px;
    text-align: right;
}
.writer .right span{
	display: inline-block;
    padding-left: 20px;
    margin-right: 15px;
}
.writer .right .right_1{
	background: url(http://static.bbs.miui.com/static/forumindex/images/geek_2.png) no-repeat 0 0;
}
.writer .right .right_2{
	background: url(http://static.bbs.miui.com/static/forumindex/images/geek_2.png) no-repeat -68px 0;
}

ol.pagination{
	list-style-type: none;
	overflow: hidden;
	margin: 40px 182px;
}
ol.pagination li{
	float:left;
	margin-right: 5px;
}
ol.pagination li a{
	color:#909090;
}
ol.pagination a,ol.pagination li.selected{
	display: block;
	padding:4px 10px;
	border: 1px solid #ccc;
	text-decoration: none;
	background-color: #F5F5F5;
	
}
ol.pagination a:hover,ol.pagination a:focus{
	color: #FF6347;
}
ol.pagination .selected{
	border: none;
	background-color: white;
}
ol.pagination .selected:hover{
	color:#909090;
	cursor: default;
}
ol.pagination .dian{
	border: none;
	background-color: white;
}
ol.pagination .dian:hover{
	color:black;
	cursor: default;
}
#ft{
	width: 100%;
	height:87px;
	background-color:  #2F2F2F;
	position: absolute;
	bottom: 0px;
}
#ft .ft{
	width: 960px;
	height: 42px;
	margin:0 auto;
	vertical-align: middle;
	font-size: 12px;
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
}
#ft .ft img{
	float: left;
}
#ft .ft a{
	color:#cdcdcd;

}
#ft .ft span{
	color:#cdcdcd;
}
#ft .ft .ff{
	display: inline-block;
	float: right;
	color: #7e7e7e;;
}
#ft .ft p{
	margin-top: 5px;
	color:#7e7e7e;
}

